
<!doctype html>
<html>

<head>
    <style>
        @keyframes color {
          0%   { background: #33CCCC; }
          20%  { background: #33CC36; }
          40%  { background: #B8CC33; }
          60%  { background: #FCCA00; }
          80%  { background: #33CC36; }
          100% { background: #33CCCC; }
        }

        body {
          background: #33CCCC; /* Fallback */
          animation: color 9s infinite linear;
          text-align: center;
          padding: 2em;
        }

    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Platon Mihai-Valentin</title>
</head>
<body>
<div class="context">
    <h1 style="text-align: center;">Ne pare rau, dar a aparut o eroare!</h1>
    <h2 style="text-align: center;">Va rugam sa apasati butonul de resetare pentru a incerca din nou!</h2>

</div>
<div style="text-align: center;">
    <a href="{{ url_for('index') }}"  type="button">
        <input type="button" value="Resetare" >
    </a>
</div>

</body>
</html>